<div class="map-container">
  <div #mapElement class="map"></div>

  <div #popup class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content">
      <div *ngIf="selectedSede">
        <h6>{{ selectedSede.name || 'Sede' }}</h6>
        <div *ngIf="selectedSede.municipality"><small><strong>Municipio:</strong> {{ selectedSede.municipality.name }}</small></div>
        <div *ngIf="selectedSede.healthRegion"><small><strong>Región:</strong> {{ selectedSede.healthRegion.name }}</small></div>
        <app-bed-count [bedCounts]="selectedSede.bedCounts"></app-bed-count>
        <app-sede-services [services]="selectedSede.services"></app-sede-services>
      </div>
    </div>
  </div>

  <div class="filters-panel">
    <h4>Filtros</h4>
    <form>
      <div class="form-group">
        <label for="region">Región</label>
        <input type="text" id="region" class="form-control" [(ngModel)]="search.region" (input)="updateFilteredLists()">
        <select class="form-control" [(ngModel)]="filters.healthRegionId" (change)="onRegionChange()">
          <option [ngValue]="null">Todas</option>
          <option *ngFor="let region of healthRegionsFiltered" [value]="region.id">{{ region.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="municipality">Municipio</label>
        <input type="text" id="municipality" class="form-control" [(ngModel)]="search.municipality" (input)="updateFilteredLists()">
        <select class="form-control" [(ngModel)]="filters.municipalityId" (change)="onMunicipalityChange()">
          <option [ngValue]="null">Todos</option>
          <option *ngFor="let municipality of municipalitiesFiltered" [value]="municipality.id">{{ municipality.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="service">Servicio</label>
        <input type="text" id="service" class="form-control" [(ngModel)]="search.service" (input)="updateFilteredLists()">
        <select class="form-control" [(ngModel)]="filters.serviceId" (change)="onFilterChange()">
          <option [ngValue]="null">Todos</option>
          <option *ngFor="let service of servicesFiltered" [value]="service.id">{{ service.name }}</option>
        </select>
      </div>
      <div class="form-grop">
        <label for="bedType">Tipo de Cama</label>
        <input type="text" id="bedType" class="form-control" [(ngModel)]="search.bedType" (input)="updateFilteredLists()">
        <select class="form-control" [(ngModel)]="filters.bedTypeId" (change)="onFilterChange()">
          <option [ngValue]="null">Todos</option>
          <option *ngFor="let bedType of bedTypesFiltered" [value]="bedType.id">{{ bedType.name }}</option>
        </select>
      </div>
    </form>
  </div>
</div>
